#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formRename div{
  margin-bottom: 20px;
}

.title {
  font-size: 19px;
  margin-bottom: 25px;
}

.boxImg p{
  color: #8888885d;
}

.form-subida label,.boxImg p {
  font-size: 16px;
}

#imagen {
  display: none;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.68);
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 100%;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 10px;
}


.view {
  width: 80%;
  border: 5px dashed rgba(128, 0, 128, 0.356);
}

.btn-general {

  background-color: rgba(128, 0, 128, 0.356);
}


.btn:hover {
  transition: filter .2s;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.813));
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.boxImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 20px 0px;
}

.img span {
  font-size: 15px;
}

.img {
  display: flex;
  flex-direction: column;
  max-width: 210px;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }


  .form-subida label,.boxImg p {
    font-size: 22px;
  }
}