*{
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 18px;
}

.boxImg img{
  box-sizing: border-box;
  height: 300px;
  width: 200px;
  margin: auto;
  object-fit: cover;
  border-radius: 30px;
}


.boxImg .img:hover{
  cursor: pointer;
  transition: .2s;
  filter: drop-shadow(0px 2px 6px black)
}