*{
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 18px;
}
img{width: 100%; object-fit: cover;}

.img img{
  height: 300px;
}


.img span{
  width: 100%;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.boxImg .img:hover,.btns button:hover{
  cursor: pointer;
  transition: .2s;
  filter: drop-shadow(0px 2px 6px black)
}

form .flex{
  gap: 20px;
  display: flex;
}

.formRename{
  padding: 20px;
}

.popup-content{
  border-radius: 10px !important;
}

form .flex div{
  margin-bottom: 20px;
  gap: 6px;
  display: flex;
}

form .flex div input{
  width: 100%;
} 

.btns{
  display: flex;
  justify-content: space-between;
}

.btns button{
  border: none;
  cursor: pointer;
  width: 48%;
  border-radius: 7px;
  padding: 5px;
}

.btns .close{
  background-color: rgb(245, 69, 69) ;
}

.btns .ok{
  background-color: rgb(18, 163, 18);
}