*{
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 18px;
}
img{width: 100%; height: 90%; object-fit: contain;}

.boxImg .img:hover{
  cursor: pointer;
  transition: .2s;
  filter: drop-shadow(0px 2px 6px black)
}